<!--The whole content below can be removed with the new code.-->
<div class="wallpaper" mouseWheel (mouseWheelUp)="mouseWheelUpFunc()" (mouseWheelDown)="mouseWheelDownFunc()">
  <button md-fab class="btnMenu"><md-icon>menu</md-icon></button>

  <div class="container">
    <div class="txt-container">
      <p class="txt">Fc-Devs</p>
      <p class="txt">Développeur</p>
      <p class="txt"> Multi-plateformes</p>     
    </div>
  </div>

    <div class="container">
    <div class="txt-container">
     <md-icon>desktop_windows</md-icon>
     <md-icon>computer</md-icon>
     <md-icon>tablet_android</md-icon>    
    </div>
  </div>

</div>


