
/************
    Fond
************/

.wallpaper{
    position: absolute;
    height: 100%!important;
    width: 100%!important;
    background-color:#143E92;       
}

/************
    Menu
************/

.btnMenu{
    position: fixed;
    text-align: center;
    margin: 10px;
}

/************
   Content
************/

.container{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-container{
    text-align: center;
}

.txt{
    color: white;
    vertical-align: middle;
    font-size: 25px;
}

md-icon{
    font-size: 100px;
    margin : 100px;
}

