<!--The whole content below can be removed with the new code.-->
<div class="wallpaper" mouseWheel (mouseWheelUp)="mouseWheelUpFunc()" (mouseWheelDown)="mouseWheelDownFunc()">
  
  <div class="container-titre">
    <div class="line">
      <hr><hr>
    </div>
    <span class="titre">Florian Correge</span>
  </div>

  <md-icon class="btnMenu">menu</md-icon>

  <div class="container">

    <div class="txt-container">
      <p class="txt txt-anim-1">Freelance</p>
      <p class="txt txt-anim-2">Développeur</p>
      <p class="txt txt-anim-3"> Multi-plateformes</p>     
    </div>

    <ul class="container-icons">
        <li class="icons"><md-icon class="icon-normal">desktop_windows</md-icon></li>
        <li class="icons"><md-icon class="icon-normal">computer</md-icon></li>
        <li class="icons"><md-icon class="icon-medium">tablet_android</md-icon></li>
        <li class="icons"><md-icon class="icon-small">smartphone</md-icon></li>  
    </ul>

    <div class="container-mouse">
    <span class="scroll-btn">
      <a href="#">
		    <span class="mouse">
			    <span>
			    </span>
		    </span>
	    </a>
    </span>
    </div>

  </div>
</div>


